@model WebApplication2.NewFolder1.SinhVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemVan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemVan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocLuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocLuc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
